{% load static %}

<!-- Start Footer -->
<!-- <div class="foot-wrapper"></div> -->
<footer>
    <div class="footerCol">
    <div class="container">
        <div class="row p-2">
        <ul class="col socialCol">
        <li><h6>Web Design by Carl Sparks</h6></li>
        <li><a href="https://github.com/Sparkeeee" target="_blank" rel="noopener"><i id="github" class="fa-brands fa-square-github" alt="..."></i></a></li>
        <li><h6></h6><span class=""> <a href="mailto:carlraysparks@gmail.com">carlraysparks@gmail.com</a></span></h6></li>
        </ul>
    </div>
    </div>
    </div>
</footer>


<!-- End Footer -->
