{% load static %}

<!-- Start Navigation Bar -->

<!-- Start Navigation Bar -->

<header>
    <div class="headerCol">
    <div class="container-fluid">
        <div class="row align-items-center">
        <div class="col-1">
            <div class="logoCol solar-card media-flex"><a href="{% url 'main:home' %}"><img src="{% static 'images/logo-mini.png' %}" alt="..."></a>
        </div>
        </div>
        <div class="col-sm-3 lg-4 media-flex"><h4 style="color:rgb(255, 255, 255)">c-sparks-fly.net</h4> </div>
        <div class="col">
            <div class="d-md-none">
            <button class="navToggle">
                <span class="navToggle__text">Toggle Menu</span>
            </button>
            </div>
            <div class="navCollapseCol">
            <div class="navCol">
                
                <ul>           
                <li><a href="{%url 'main:home'%}">Home</a></li>
                <li><a href="{%url 'main:portfolios' %}">Portfolio</a></li>
                <li><a href="{% url 'main:blogs' %}">Blog</a></li>
                <li><a href="{%url 'main:contact'%}">Contact</a></li>
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        <li class="nav-item">
                            <a href="{% url 'main:dashboard' %}" class="nav-link">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <form action="{% url 'logout' %}" method="post" id="logout-form">
                                {% csrf_token %}
                                <a href="#" class="nav-link" onclick="document.getElementById('logout-form').submit();">Logout</a>
                            </form>
                        </li>
                    {% else %}
                    <li class="nav-item">
                        <form action="{% url 'logout' %}" method="post" id="logout-form">
                            {% csrf_token %}
                            <a href="#" class="nav-link" onclick="document.getElementById('logout-form').submit();">Logout</a>
                        </form>
                    </li>
                    {% endif %}
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link">Login</a>
                    </li>
                {% endif %}
                </ul>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</header>

<!-- End Navigation Bar -->


<!-- End Navigation Bar -->
