{% extends 'main/base.html' %}
{% load static %}

<!-- Start Content -->
{% block content %}
<section>
  <div class="innerPageBannerCol">
    <div class="container">
      <div class="row g-3 g-md-3 align-items-center">
        <div class="col-md-8">
          <div class="bannerContent">
            <h2>Make your updates here</h2>
          </div>
        </div>
        <div class="col-md-2 offset-2">
          <a href="{% url 'admin:index' %}" class="btn btnPrimary">Go to Admin</a>
        </div>
      </div>
      <div class="row pt-3">
        <p class="pt-3">This is a quick and nicer alternative to the admin panel. <br> With space for extras.</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="lighterBg">
    <div class="container-xl">
      <div class="row">
        <h4 class="col-6 offset-3 pt-2 pb-2 text-center text-decoration-underline" id="add-new-entry">Add or Edit a Portfolio exhibit below.</h4>
        <div class="dropdown">
          <button class="col-8 offset-2 mt-3 mb-3 btn btnPrimary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Choose a portfolio
          </button>
          <!-- Dropdown menu -->
          <ul class="dropdown-menu">
            {% for portfolio in portfolios %}
                <li>
                    <a class="dropdown-item" href="#" onclick="populateForm({{ portfolio.id }})">
                        {{ portfolio.name }}
                    </a>
                </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col">
        <form id="UpdatePortfoliosForm" method="POST" action="{% url 'main:dashboard' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <!-- Add a hidden field to indicate the operation -->
          <input type="hidden" name="operation" id="id_operation" value="create">
          <input type="hidden" name="portfolio_id" id="id_portfolio_id" value="">
          <!-- Form fields -->
          {{ form.as_p }}
          <!-- Submit button -->
          <div class="text-center">
            <input class="btn btnPrimary mb-3" type="submit" value="Submit">
          </div>
        </form>
      <div class="portfolio-items">
        <div class="row">
          {% for portfolio in portfolios %}
          <div class="col-auto mb-3">
            <h3 class="portfolio-title">{{ portfolio.name }}</h3>
            <!-- Add delete button with a form -->
            <form class="d-inline" method="post" action="{% url 'main:portfolio_delete' portfolio.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>
          {% endfor %}
        </div>
      </div>
      </div>
    </div>
  </div>
</section>

<!-- End Content -->
{% endblock %}
